* {
  box-sizing: content-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vmax;
}

.block {
  display: block;
}

.search-bar-container {
  padding: 10px 0 10px 0;
}

.search-bar-container label {
  padding-top: 10px;
  display: block;
}

.product-table-container thead,
.product-table-container tr{
  text-align: left;
}
